<header class="header">
  <div class="navbar-wrapper">
    <nav class="navbar">
      <div class="navbar-brand">
        <ul class="navbar-brand-list">
          <li class="brand-logo">
            <a class="navbar-brand" href="https://www.redhat.com">
              <img src="{{{uiRootPath}}}/img/redhat.svg" alt="Red Hat" />
            </a>
          </li>
          <li>
            <a class="navbar-brand rh-documentation" href="{{site.url}}/docs/main/user-guide/introduction/">
              <img src="{{{uiRootPath}}}/img/documentation.svg" alt="Red Hat Documentation" class="rh-docs" />
              <img src="{{{uiRootPath}}}/img/docs-hover.svg" alt="Vale at Red Hat Documentation"
                class="hide rh-hover-docs" />
            </a>
          </li>
        </ul>

        <!--AR: mobile views -->
        <ul class="navbar-brand-list-mobile">
          <li class="brand-logo">
            <a class="navbar-brand" href="https://www.redhat.com">
              <img src="{{{uiRootPath}}}/img/redhat-logo.svg" alt="Red Hat" />
            </a>
          </li>
        </ul>

        {{#if env.SITE_SEARCH_PROVIDER}}
        <div class="navbar-item search hide-for-print">
          <div id="search-field" class="field">
            <input id="search-input" type="text" placeholder="Search the docs..." {{#if page.home}} autofocus{{/if}}>
          </div>
        </div>
        {{/if}}
        <button class="navbar-burger" data-target="topbar-nav">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </nav>
  </div>